openapi: 3.1.0
info:
  title: Stockroom API
  version: 1.4.0
  license:
    name: Apache 2.0
    identifier: Apache-2.0
  description: >
    Inventory management API. Versioning: URL prefix (/v1); breaking changes
    ship as /v2 with a 6-month deprecation window announced via the
    `Deprecation` header. Conventions: kebab-case paths, snake_case properties,
    cursor pagination (`cursor` + `limit`), RFC 9457 problem+json errors,
    UUID identifiers, RFC 3339 UTC timestamps. Authentication: bearer tokens
    (JWT) on every endpoint.
servers:
  - url: https://api.stockroom.dev/v1
security:
  - bearerAuth: []
tags:
  - name: products
    description: Product catalog operations.
  - name: warehouses
    description: Warehouse and stock operations.
paths:
  /products:
    get:
      operationId: listProducts
      tags: [products]
      summary: List products
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - name: status
          in: query
          required: false
          description: Filter by lifecycle status.
          schema:
            type: string
            enum: [active, discontinued]
        - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: A page of products.
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createProduct
      tags: [products]
      summary: Create a product
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCreate'
      responses:
        '201':
          description: Product created.
          headers:
            Location:
              description: URL of the created product.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /products/{productId}:
    parameters:
      - $ref: '#/components/parameters/ProductId'
    get:
      operationId: getProduct
      tags: [products]
      summary: Get a product
      responses:
        '200':
          description: The product.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateProduct
      tags: [products]
      summary: Update a product (partial, JSON merge patch semantics)
      requestBody:
        required: true
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/ProductUpdate'
      responses:
        '200':
          description: The updated product.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      operationId: deleteProduct
      tags: [products]
      summary: Delete a product
      responses:
        '204':
          description: Product deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /warehouses:
    get:
      operationId: listWarehouses
      tags: [warehouses]
      summary: List warehouses
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: A page of warehouses.
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Warehouse'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /warehouses/{warehouseId}:
    parameters:
      - $ref: '#/components/parameters/WarehouseId'
    get:
      operationId: getWarehouse
      tags: [warehouses]
      summary: Get a warehouse
      responses:
        '200':
          description: The warehouse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Warehouse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /warehouses/{warehouseId}/stock-levels:
    parameters:
      - $ref: '#/components/parameters/WarehouseId'
    get:
      operationId: listStockLevels
      tags: [warehouses]
      summary: List stock levels in a warehouse
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - name: product_id
          in: query
          required: false
          description: Filter to a single product.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: A page of stock levels.
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/StockLevel'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    Cursor:
      name: cursor
      in: query
      required: false
      description: Opaque cursor for the next page.
      schema:
        type: string
    Limit:
      name: limit
      in: query
      required: false
      description: Page size (1-100, default 25).
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    Sort:
      name: sort
      in: query
      required: false
      description: >
        Comma-separated sort fields; prefix with `-` for descending
        (e.g. `-created_at`).
      schema:
        type: string
    ProductId:
      name: productId
      in: path
      required: true
      description: Product identifier.
      schema:
        type: string
        format: uuid
    WarehouseId:
      name: warehouseId
      in: path
      required: true
      description: Warehouse identifier.
      schema:
        type: string
        format: uuid
  responses:
    BadRequest:
      description: The request is malformed.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    Unauthorized:
      description: Authentication is missing or invalid.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    NotFound:
      description: The resource does not exist.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    UnprocessableEntity:
      description: The request is well-formed but semantically invalid.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
  schemas:
    Problem:
      type: object
      description: RFC 9457 problem details.
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
    Pagination:
      type: object
      required: [next_cursor]
      properties:
        next_cursor:
          type: [string, 'null']
          description: Cursor for the next page; null when no more pages.
        limit:
          type: integer
    Product:
      type: object
      required: [id, sku, name, status, created_at, updated_at]
      properties:
        id:
          type: string
          format: uuid
        sku:
          type: string
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [active, discontinued]
        unit_price_cents:
          type: integer
        currency:
          type: string
          description: ISO 4217 code.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ProductCreate:
      type: object
      required: [sku, name, unit_price_cents, currency]
      properties:
        sku:
          type: string
        name:
          type: string
        description:
          type: string
        unit_price_cents:
          type: integer
        currency:
          type: string
    ProductUpdate:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        unit_price_cents:
          type: integer
    Warehouse:
      type: object
      required: [id, code, name, created_at]
      properties:
        id:
          type: string
          format: uuid
        code:
          type: string
        name:
          type: string
        region:
          type: string
        created_at:
          type: string
          format: date-time
    StockLevel:
      type: object
      required: [product_id, warehouse_id, quantity, updated_at]
      properties:
        product_id:
          type: string
          format: uuid
        warehouse_id:
          type: string
          format: uuid
        quantity:
          type: integer
        updated_at:
          type: string
          format: date-time
