openapi: 3.1.0
info:
  title: Stockroom API
  version: 1.5.0
  license:
    name: Apache 2.0
    identifier: Apache-2.0
  description: >
    Inventory management API. Versioning: URL prefix (/v1); breaking changes
    ship as /v2 with a 6-month deprecation window announced via the
    `Deprecation` header. Conventions: kebab-case paths, snake_case properties,
    cursor pagination (`cursor` + `limit`), RFC 9457 problem+json errors,
    UUID identifiers, RFC 3339 UTC timestamps. Authentication: bearer tokens
    (JWT) on every endpoint.
servers:
  - url: https://api.stockroom.dev/v1
security:
  - bearerAuth: []
tags:
  - name: products
    description: Product catalog operations.
  - name: warehouses
    description: Warehouse and stock operations.
  - name: price-updates
    description: Bulk product price update operations.
paths:
  /products:
    get:
      operationId: listProducts
      tags: [products]
      summary: List products
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - name: status
          in: query
          required: false
          description: Filter by lifecycle status.
          schema:
            type: string
            enum: [active, discontinued]
        - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: A page of products.
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createProduct
      tags: [products]
      summary: Create a product
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCreate'
      responses:
        '201':
          description: Product created.
          headers:
            Location:
              description: URL of the created product.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /products/{productId}:
    parameters:
      - $ref: '#/components/parameters/ProductId'
    get:
      operationId: getProduct
      tags: [products]
      summary: Get a product
      responses:
        '200':
          description: The product.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateProduct
      tags: [products]
      summary: Update a product (partial, JSON merge patch semantics)
      description: >
        `status` is deliberately not patchable here — see
        `PUT /products/{productId}/discontinuation` for the one-directional
        discontinue action.
      requestBody:
        required: true
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/ProductUpdate'
      responses:
        '200':
          description: The updated product.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      operationId: deleteProduct
      tags: [products]
      summary: Delete a product
      responses:
        '204':
          description: Product deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /products/{productId}/movements:
    parameters:
      - $ref: '#/components/parameters/ProductId'
    get:
      operationId: listProductMovements
      tags: [products]
      summary: List stock movement history for a product
      description: >
        Read-only audit trail. Movements are written by the ingestion
        pipeline, not through this API — there is no corresponding write
        operation. Large SKUs accumulate tens of thousands of movements;
        always paginate.
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - name: warehouse_id
          in: query
          required: false
          description: Filter to movements in a single warehouse.
          schema:
            type: string
            format: uuid
        - name: type
          in: query
          required: false
          description: Filter by movement type.
          schema:
            $ref: '#/components/schemas/MovementType'
        - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: A page of stock movements, most recent first by default.
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/StockMovement'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /products/{productId}/discontinuation:
    parameters:
      - $ref: '#/components/parameters/ProductId'
    put:
      operationId: discontinueProduct
      tags: [products]
      summary: Discontinue a product
      description: >
        One-directional: there is no `DELETE` on this resource and no way to
        reverse a discontinuation through the API (legal requirement —
        reinstatement is a manual, off-API process). Modeled as `PUT` to a
        singleton sub-resource rather than a `status: discontinued` field on
        `PATCH /products/{productId}`, precisely so the irreversibility is
        structural, not just a documented convention someone could patch
        around.


        Idempotent: discontinuing an already-discontinued product is not an
        error. The first successful call returns `201`; every subsequent
        call against the same product returns `200` with the original,
        unchanged discontinuation record (the `reason` given on a later call
        is ignored, not merged or overwritten — the record reflects who
        discontinued it and why the first time).
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiscontinuationCreate'
      responses:
        '201':
          description: Product discontinued for the first time.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Discontinuation'
        '200':
          description: Product was already discontinued; the existing record is returned unchanged.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Discontinuation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /warehouses:
    get:
      operationId: listWarehouses
      tags: [warehouses]
      summary: List warehouses
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: A page of warehouses.
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Warehouse'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /warehouses/{warehouseId}:
    parameters:
      - $ref: '#/components/parameters/WarehouseId'
    get:
      operationId: getWarehouse
      tags: [warehouses]
      summary: Get a warehouse
      responses:
        '200':
          description: The warehouse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Warehouse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /warehouses/{warehouseId}/stock-levels:
    parameters:
      - $ref: '#/components/parameters/WarehouseId'
    get:
      operationId: listStockLevels
      tags: [warehouses]
      summary: List stock levels in a warehouse
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - name: product_id
          in: query
          required: false
          description: Filter to a single product.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: A page of stock levels.
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/StockLevel'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /product-price-updates:
    post:
      operationId: createProductPriceUpdate
      tags: [price-updates]
      summary: Bulk-update unit prices for up to 500 products
      description: >
        Partial success is normal, not an error: as long as the request
        itself is well-formed, this always returns `201` (or a `200`/`201`
        replay — see below), with one result per row in `rows`. A row with
        an unknown `product_id` or a negative `unit_price_cents` is reported
        as `status: failed` with a `code`/`message` in that row's `error`;
        every other valid row is still applied. There is no top-level `422`
        for row-level failures — check `failed_count`.


        **Safe to retry.** Requires an `Idempotency-Key` header. Retrying
        with the same key and the same request body returns the original
        batch unchanged (`Idempotent-Replayed: true`, same rows, same
        result) instead of re-applying it — this is how the upload tool's
        retry-on-timeout behavior is prevented from double-applying a batch.
        Reusing a key with a different body is a `409`.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PriceUpdateRequest'
      responses:
        '201':
          description: >
            Batch recorded (or, on a retried request with a previously-used
            idempotency key and identical payload, the original batch is
            returned with this same status code).
          headers:
            Location:
              description: URL of the batch.
              schema:
                type: string
                format: uri
            Idempotent-Replayed:
              description: '`true` if this is a replay of a prior request with the same idempotency key.'
              schema:
                type: boolean
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceUpdateBatch'
        '400':
          description: >
            The request itself is malformed (not row-level failures) — e.g.
            `rows` missing, empty, not an array, or over 500 items.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
  /product-price-updates/{batchId}:
    parameters:
      - $ref: '#/components/parameters/BatchId'
    get:
      operationId: getProductPriceUpdate
      tags: [price-updates]
      summary: Get a past bulk price update batch
      description: >
        Not requested in the original brief, added so the `Location` header
        returned by `POST /product-price-updates` points at something
        retrievable, and so merchandisers can look up a past upload's
        row-by-row results without having kept the original response.
      responses:
        '200':
          description: The batch.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceUpdateBatch'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    Cursor:
      name: cursor
      in: query
      required: false
      description: Opaque cursor for the next page.
      schema:
        type: string
    Limit:
      name: limit
      in: query
      required: false
      description: Page size (1-100, default 25).
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    Sort:
      name: sort
      in: query
      required: false
      description: >
        Comma-separated sort fields; prefix with `-` for descending
        (e.g. `-created_at`).
      schema:
        type: string
    ProductId:
      name: productId
      in: path
      required: true
      description: Product identifier.
      schema:
        type: string
        format: uuid
    WarehouseId:
      name: warehouseId
      in: path
      required: true
      description: Warehouse identifier.
      schema:
        type: string
        format: uuid
    BatchId:
      name: batchId
      in: path
      required: true
      description: Price update batch identifier.
      schema:
        type: string
        format: uuid
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      description: >
        Client-generated unique string (up to 255 chars) identifying this
        upload attempt. Reusing a key with an identical request body
        returns the original batch without re-applying it. Reusing a key
        with a different body is a `409`. Keys expire after 24h.
      schema:
        type: string
        maxLength: 255
  responses:
    BadRequest:
      description: The request is malformed.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    Unauthorized:
      description: Authentication is missing or invalid.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    NotFound:
      description: The resource does not exist.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    UnprocessableEntity:
      description: The request is well-formed but semantically invalid.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    Conflict:
      description: The request conflicts with existing state (e.g. an idempotency key reused with a different payload).
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
  schemas:
    Problem:
      type: object
      description: RFC 9457 problem details.
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
    Pagination:
      type: object
      required: [next_cursor]
      properties:
        next_cursor:
          type: [string, 'null']
          description: Cursor for the next page; null when no more pages.
        limit:
          type: integer
    Product:
      type: object
      required: [id, sku, name, status, created_at, updated_at]
      properties:
        id:
          type: string
          format: uuid
        sku:
          type: string
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [active, discontinued]
        unit_price_cents:
          type: integer
        currency:
          type: string
          description: ISO 4217 code.
        discontinued_at:
          type: [string, 'null']
          format: date-time
          description: Set once, the first time the product is discontinued. Null while `status` is `active`.
        discontinued_by:
          type: [string, 'null']
          format: uuid
          description: Identifier of the actor who discontinued the product. Null while `status` is `active`.
        discontinued_reason:
          type: [string, 'null']
          description: Optional reason given at discontinuation. Null while `status` is `active`, or if none was given.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ProductCreate:
      type: object
      required: [sku, name, unit_price_cents, currency]
      properties:
        sku:
          type: string
        name:
          type: string
        description:
          type: string
        unit_price_cents:
          type: integer
        currency:
          type: string
    ProductUpdate:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        unit_price_cents:
          type: integer
    Warehouse:
      type: object
      required: [id, code, name, created_at]
      properties:
        id:
          type: string
          format: uuid
        code:
          type: string
        name:
          type: string
        region:
          type: string
        created_at:
          type: string
          format: date-time
    StockLevel:
      type: object
      required: [product_id, warehouse_id, quantity, updated_at]
      properties:
        product_id:
          type: string
          format: uuid
        warehouse_id:
          type: string
          format: uuid
        quantity:
          type: integer
        updated_at:
          type: string
          format: date-time
    MovementType:
      type: string
      enum: [inbound, outbound, correction]
    StockMovement:
      type: object
      required: [id, product_id, warehouse_id, type, quantity_delta, recorded_by, created_at]
      properties:
        id:
          type: string
          format: uuid
        product_id:
          type: string
          format: uuid
        warehouse_id:
          type: string
          format: uuid
        type:
          $ref: '#/components/schemas/MovementType'
        quantity_delta:
          type: integer
          description: Signed change in quantity (negative for outbound movements).
        note:
          type: string
        recorded_by:
          type: string
          format: uuid
          description: Identifier of the actor or ingestion process that recorded the movement.
        created_at:
          type: string
          format: date-time
    DiscontinuationCreate:
      type: object
      properties:
        reason:
          type: string
          maxLength: 500
    Discontinuation:
      type: object
      required: [product_id, discontinued_at, discontinued_by]
      properties:
        product_id:
          type: string
          format: uuid
        reason:
          type: [string, 'null']
        discontinued_at:
          type: string
          format: date-time
        discontinued_by:
          type: string
          format: uuid
    PriceUpdateRowInput:
      type: object
      required: [product_id, unit_price_cents]
      properties:
        product_id:
          type: string
          format: uuid
        unit_price_cents:
          type: integer
          minimum: 0
    PriceUpdateRequest:
      type: object
      required: [rows]
      properties:
        rows:
          type: array
          minItems: 1
          maxItems: 500
          items:
            $ref: '#/components/schemas/PriceUpdateRowInput'
    PriceUpdateRowError:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          description: 'Machine-readable, e.g. `unknown_product`, `invalid_price`.'
        message:
          type: string
    PriceUpdateRowResult:
      type: object
      required: [product_id, status]
      properties:
        product_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [succeeded, failed]
        error:
          $ref: '#/components/schemas/PriceUpdateRowError'
    PriceUpdateBatch:
      type: object
      required: [id, status, rows, succeeded_count, failed_count, created_at]
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum: [completed]
          description: Always `completed` today (processing is synchronous); reserved so a future async mode is additive, not breaking.
        rows:
          type: array
          items:
            $ref: '#/components/schemas/PriceUpdateRowResult'
        succeeded_count:
          type: integer
        failed_count:
          type: integer
        created_at:
          type: string
          format: date-time
