openapi: 3.1.0
info:
  title: Stockroom API
  version: 1.5.0
  license:
    name: Apache 2.0
    identifier: Apache-2.0
  description: >
    Inventory management API. Versioning: URL prefix (/v1); breaking changes
    ship as /v2 with a 6-month deprecation window announced via the
    `Deprecation` header. Conventions: kebab-case paths, snake_case properties,
    cursor pagination (`cursor` + `limit`), RFC 9457 problem+json errors,
    UUID identifiers, RFC 3339 UTC timestamps. Authentication: bearer tokens
    (JWT) on every endpoint.
servers:
  - url: https://api.stockroom.dev/v1
security:
  - bearerAuth: []
tags:
  - name: products
    description: Product catalog operations.
  - name: warehouses
    description: Warehouse and stock operations.
  - name: stock-movements
    description: Read-only audit trail of stock quantity changes.
  - name: price-updates
    description: Bulk price update batches.
paths:
  /products:
    get:
      operationId: listProducts
      tags: [products]
      summary: List products
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - name: status
          in: query
          required: false
          description: Filter by lifecycle status.
          schema:
            type: string
            enum: [active, discontinued]
        - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: A page of products.
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createProduct
      tags: [products]
      summary: Create a product
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCreate'
      responses:
        '201':
          description: Product created.
          headers:
            Location:
              description: URL of the created product.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /products/{productId}:
    parameters:
      - $ref: '#/components/parameters/ProductId'
    get:
      operationId: getProduct
      tags: [products]
      summary: Get a product
      responses:
        '200':
          description: The product.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateProduct
      tags: [products]
      summary: Update a product (partial, JSON merge patch semantics)
      description: >
        Cannot change lifecycle `status` — use POST
        /products/{productId}/discontinue to discontinue a product. This
        keeps status transitions on a dedicated, auditable endpoint instead
        of letting them ride in as one field among many in a generic patch.
      requestBody:
        required: true
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/ProductUpdate'
      responses:
        '200':
          description: The updated product.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      operationId: deleteProduct
      tags: [products]
      summary: Delete a product
      responses:
        '204':
          description: Product deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /products/{productId}/discontinue:
    parameters:
      - $ref: '#/components/parameters/ProductId'
    post:
      operationId: discontinueProduct
      tags: [products]
      summary: Discontinue a product
      description: >
        Sets the product's status to `discontinued`. Discontinued products
        keep their full history and can no longer be ordered, but this API
        never reverses the transition — reinstatement is a manual,
        off-API process (legal requirement). Idempotent: calling this on a
        product that is already discontinued is a no-op that returns `200`
        with the product's existing discontinuation details unchanged
        (`discontinued_at`/`discontinued_by`/`discontinued_reason` are NOT
        overwritten by a second call).
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductDiscontinueRequest'
      responses:
        '200':
          description: >
            Product discontinued (or already was — see description). Not
            `201`/`204` because no new resource is created and the response
            body — the updated product — is meaningful to return.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /products/{productId}/stock-movements:
    parameters:
      - $ref: '#/components/parameters/ProductId'
    get:
      operationId: listStockMovements
      tags: [stock-movements]
      summary: List stock movement history for a product
      description: >
        Read-only audit trail (inbound delivery, outbound shipment, manual
        correction) written by the ingestion pipeline, not by this API —
        there is no create/update/delete here. High-volume SKUs accumulate
        tens of thousands of rows, so this always returns a cursor page;
        default sort is newest-first (`-recorded_at`).
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - name: warehouse_id
          in: query
          required: false
          description: Filter to movements in a single warehouse.
          schema:
            type: string
            format: uuid
        - name: movement_type
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/StockMovementType'
        - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: A page of stock movements, newest first by default.
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/StockMovement'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /warehouses:
    get:
      operationId: listWarehouses
      tags: [warehouses]
      summary: List warehouses
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: A page of warehouses.
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Warehouse'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /warehouses/{warehouseId}:
    parameters:
      - $ref: '#/components/parameters/WarehouseId'
    get:
      operationId: getWarehouse
      tags: [warehouses]
      summary: Get a warehouse
      responses:
        '200':
          description: The warehouse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Warehouse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /warehouses/{warehouseId}/stock-levels:
    parameters:
      - $ref: '#/components/parameters/WarehouseId'
    get:
      operationId: listStockLevels
      tags: [warehouses]
      summary: List stock levels in a warehouse
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - name: product_id
          in: query
          required: false
          description: Filter to a single product.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: A page of stock levels.
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/StockLevel'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /price-updates:
    post:
      operationId: createPriceUpdate
      tags: [price-updates]
      summary: Bulk-update unit prices for up to 500 products
      description: >
        Applies price changes for the given rows and reports a per-row
        result — rows with an unknown `product_id` or a negative
        `unit_price_cents` fail individually with a machine-readable reason
        while the rest of the batch still applies (partial success by
        design; this endpoint always returns `200` for a well-formed
        request, even if every row failed — check `data.failed_count` /
        each row's `status`). Processing is synchronous: the response
        reflects the final state of every row, there is no polling step.

        Requires an `Idempotency-Key` request header. Retrying the same key
        with the same body returns the original stored result (see
        `Idempotent-Replay` response header) instead of re-applying the
        batch — this is what makes it safe for the upload tool to retry
        after a timeout without double-applying price changes.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PriceUpdateCreate'
      responses:
        '200':
          description: >
            Batch processed (or replayed — see `Idempotent-Replay` header).
            Row-level failures do not change the response status; only a
            malformed request (empty list, >500 rows, wrong types) does.
          headers:
            Idempotent-Replay:
              description: >
                "true" if this response was served from a stored result for
                a previously-seen Idempotency-Key rather than by
                reprocessing the batch; absent on the original response.
              schema:
                type: string
                enum: ["true"]
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceUpdateBatch'
        '400':
          description: >
            The request itself is malformed — empty `items`, more than 500
            `items`, or a row missing a required field / wrong type. Use
            this to distinguish "fix your request shape" from the row-level
            `failed` status inside a 200 response, which means "your
            request shape was fine, but this row's data was invalid."
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: The Idempotency-Key was already used with a different request body.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /price-updates/{priceUpdateId}:
    parameters:
      - name: priceUpdateId
        in: path
        required: true
        description: Price update batch identifier.
        schema:
          type: string
          format: uuid
    get:
      operationId: getPriceUpdate
      tags: [price-updates]
      summary: Get a past bulk price update batch and its per-row results
      description: >
        Retained so merchandisers can look up "what happened to that upload"
        after the fact, without having kept the original response around.
      responses:
        '200':
          description: The batch.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceUpdateBatch'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    Cursor:
      name: cursor
      in: query
      required: false
      description: Opaque cursor for the next page.
      schema:
        type: string
    Limit:
      name: limit
      in: query
      required: false
      description: Page size (1-100, default 25).
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    Sort:
      name: sort
      in: query
      required: false
      description: >
        Comma-separated sort fields; prefix with `-` for descending
        (e.g. `-created_at`).
      schema:
        type: string
    ProductId:
      name: productId
      in: path
      required: true
      description: Product identifier.
      schema:
        type: string
        format: uuid
    WarehouseId:
      name: warehouseId
      in: path
      required: true
      description: Warehouse identifier.
      schema:
        type: string
        format: uuid
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      description: >
        Client-generated unique string identifying this batch submission
        attempt. Reusing the same key with the same request body returns the
        original stored result rather than reprocessing; remembered for 24
        hours per caller.
      schema:
        type: string
        minLength: 1
        maxLength: 255
  responses:
    BadRequest:
      description: The request is malformed.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    Unauthorized:
      description: Authentication is missing or invalid.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    NotFound:
      description: The resource does not exist.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    UnprocessableEntity:
      description: The request is well-formed but semantically invalid.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
  schemas:
    Problem:
      type: object
      description: RFC 9457 problem details.
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
    Pagination:
      type: object
      required: [next_cursor]
      properties:
        next_cursor:
          type: [string, 'null']
          description: Cursor for the next page; null when no more pages.
        limit:
          type: integer
    Product:
      type: object
      required: [id, sku, name, status, created_at, updated_at]
      properties:
        id:
          type: string
          format: uuid
        sku:
          type: string
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [active, discontinued]
        unit_price_cents:
          type: integer
        currency:
          type: string
          description: ISO 4217 code.
        discontinued_at:
          type: [string, 'null']
          format: date-time
          description: Set when status is discontinued; null otherwise. Never cleared once set.
        discontinued_by:
          type: [string, 'null']
          format: uuid
          description: Identifier of the caller/user who discontinued the product; null unless discontinued.
        discontinued_reason:
          type: [string, 'null']
          description: Optional free-text reason supplied when discontinuing; null if none was given.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ProductCreate:
      type: object
      required: [sku, name, unit_price_cents, currency]
      properties:
        sku:
          type: string
        name:
          type: string
        description:
          type: string
        unit_price_cents:
          type: integer
        currency:
          type: string
    ProductUpdate:
      type: object
      description: >
        Deliberately excludes `status`, `discontinued_at`,
        `discontinued_by`, and `discontinued_reason` — those only change via
        POST /products/{productId}/discontinue.
      properties:
        name:
          type: string
        description:
          type: string
        unit_price_cents:
          type: integer
    ProductDiscontinueRequest:
      type: object
      properties:
        reason:
          type: string
          description: Optional free-text reason, shown in the UI.
          maxLength: 2000
    StockMovementType:
      type: string
      enum: [inbound, outbound, correction]
    StockMovement:
      type: object
      description: >
        A single stock movement record. Written by the ingestion pipeline;
        this API exposes read access only.
      required: [id, product_id, warehouse_id, movement_type, quantity_delta, recorded_by, recorded_at]
      properties:
        id:
          type: string
          format: uuid
        product_id:
          type: string
          format: uuid
        warehouse_id:
          type: string
          format: uuid
        movement_type:
          $ref: '#/components/schemas/StockMovementType'
        quantity_delta:
          type: integer
          description: Signed change in quantity (negative for outbound movements and negative corrections).
        note:
          type: [string, 'null']
          description: Optional free-text note attached by whoever recorded the movement.
        recorded_by:
          type: string
          description: Identifier (user or system/ingestion-source) that recorded the movement.
        recorded_at:
          type: string
          format: date-time
    Warehouse:
      type: object
      required: [id, code, name, created_at]
      properties:
        id:
          type: string
          format: uuid
        code:
          type: string
        name:
          type: string
        region:
          type: string
        created_at:
          type: string
          format: date-time
    StockLevel:
      type: object
      required: [product_id, warehouse_id, quantity, updated_at]
      properties:
        product_id:
          type: string
          format: uuid
        warehouse_id:
          type: string
          format: uuid
        quantity:
          type: integer
        updated_at:
          type: string
          format: date-time
    PriceUpdateItemInput:
      type: object
      required: [product_id, unit_price_cents]
      properties:
        product_id:
          type: string
          format: uuid
        unit_price_cents:
          type: integer
    PriceUpdateCreate:
      type: object
      required: [items]
      properties:
        items:
          type: array
          minItems: 1
          maxItems: 500
          items:
            $ref: '#/components/schemas/PriceUpdateItemInput'
    PriceUpdateItemResult:
      type: object
      required: [row_index, product_id, status]
      properties:
        row_index:
          type: integer
          description: 0-based index of this row within the submitted `items` array.
        product_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [succeeded, failed]
        error:
          description: Present only when status is failed.
          type: object
          properties:
            code:
              type: string
              enum: [product_not_found, invalid_price]
            detail:
              type: string
    PriceUpdateBatch:
      type: object
      required: [id, succeeded_count, failed_count, results, created_at]
      properties:
        id:
          type: string
          format: uuid
        succeeded_count:
          type: integer
        failed_count:
          type: integer
        results:
          type: array
          items:
            $ref: '#/components/schemas/PriceUpdateItemResult'
        created_at:
          type: string
          format: date-time
