openapi: 3.1.0
info:
  title: Trackle API
  version: "1.0.0"
  description: >
    Public backend API for Trackle, a team task tracker. Used by the first-party
    web client and by third-party integrations. This is a v1, versioned
    contract; breaking changes require a new version.
  contact:
    name: Trackle API team
    email: api@trackle.app
servers:
  - url: https://api.trackle.app/v1
    description: Production

security:
  - bearerAuth: []

tags:
  - name: Projects
  - name: Members
  - name: Tasks
  - name: Comments

paths:
  /projects:
    get:
      operationId: listProjects
      tags: [Projects]
      summary: List projects in the caller's workspace
      description: Returns projects the caller is a member of, newest first, non-archived by default.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageCursor'
        - name: archived
          in: query
          description: Filter by archived state. Omit to return non-archived projects only.
          schema:
            type: boolean
      responses:
        '200':
          description: Page of projects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createProject
      tags: [Projects]
      summary: Create a project
      description: Creates a project owned by the caller in the current workspace.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectCreateRequest'
      responses:
        '201':
          description: Project created
          headers:
            Location:
              schema:
                type: string
              description: URL of the created project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /projects/{projectId}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      operationId: getProject
      tags: [Projects]
      summary: Get a project
      description: Returns a single project by ID.
      responses:
        '200':
          description: The project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateProject
      tags: [Projects]
      summary: Rename, re-describe, re-color, or archive/unarchive a project
      description: Partial update; only the fields provided in the request body are changed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectUpdateRequest'
      responses:
        '200':
          description: Updated project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      operationId: deleteProject
      tags: [Projects]
      summary: Delete a project (and its tasks, comments, and memberships)
      description: Permanently deletes the project and all data scoped to it. Not reversible.
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{projectId}/members:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      operationId: listMembers
      tags: [Members]
      summary: List members of a project
      description: Returns the project's members, paged. Supports hundreds of members per project.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageCursor'
        - name: role
          in: query
          schema:
            $ref: '#/components/schemas/MemberRole'
      responses:
        '200':
          description: Page of members
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: inviteMember
      tags: [Members]
      summary: Invite a member to the project by email
      description: >
        Only owners may invite. If the email already belongs to a member of
        this project, this returns 409.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemberInviteRequest'
      responses:
        '201':
          description: Member invited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /projects/{projectId}/members/{memberId}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/MemberId'
    patch:
      operationId: updateMemberRole
      tags: [Members]
      summary: Change a member's role
      description: Only owners may change roles. An owner cannot demote themself if they are the last owner.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemberRoleUpdateRequest'
      responses:
        '200':
          description: Updated member
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      operationId: removeMember
      tags: [Members]
      summary: Remove a member from the project
      description: >
        Only owners may remove. Removing a member unassigns their tasks
        (assignee becomes null); it does not delete tasks or comments they
        authored.
      responses:
        '204':
          description: Removed
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

  /projects/{projectId}/tasks:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      operationId: listTasks
      tags: [Tasks]
      summary: List tasks in a project
      description: >
        Supports paging, filtering, and sorting. Because project task counts
        can exceed 10,000, clients must page; there is no "fetch all" mode.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageCursor'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/TaskStatus'
        - name: assigneeId
          in: query
          description: Filter to tasks assigned to this member. Use the literal value "none" for unassigned tasks.
          schema:
            type: string
        - name: priority
          in: query
          schema:
            $ref: '#/components/schemas/TaskPriority'
        - name: dueBefore
          in: query
          description: Return tasks with dueDate on or before this date (inclusive).
          schema:
            type: string
            format: date
        - name: sort
          in: query
          description: >
            Sort key and direction. One of: dueDate, -dueDate, priority,
            -priority, createdAt, -createdAt. Leading "-" means descending.
            Default: -createdAt.
          schema:
            type: string
            enum: [dueDate, -dueDate, priority, -priority, createdAt, -createdAt]
            default: -createdAt
      responses:
        '200':
          description: Page of tasks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createTask
      tags: [Tasks]
      summary: Create a task in this project
      description: Creates a task with status todo unless overridden.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskCreateRequest'
      responses:
        '201':
          description: Task created
          headers:
            Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /tasks/{taskId}:
    parameters:
      - $ref: '#/components/parameters/TaskId'
    get:
      operationId: getTask
      tags: [Tasks]
      summary: Get a task
      description: Returns a single task by ID.
      responses:
        '200':
          description: The task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateTask
      tags: [Tasks]
      summary: Update task fields (title, description, priority, due date, status)
      description: >
        General-purpose field update. For assignment and completion, prefer
        the dedicated action endpoints below — they encode the allowed state
        transitions explicitly rather than letting clients set arbitrary
        status/assignee combinations.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskUpdateRequest'
      responses:
        '200':
          description: Updated task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      operationId: deleteTask
      tags: [Tasks]
      summary: Delete a task (and its comments)
      description: Permanently deletes the task and its comment thread. Not reversible.
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /tasks/{taskId}/assignee:
    parameters:
      - $ref: '#/components/parameters/TaskId'
    put:
      operationId: assignTask
      tags: [Tasks]
      summary: Assign the task to a project member
      description: Idempotent — assigning to the same member twice returns 200 unchanged.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [memberId]
              properties:
                memberId:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Updated task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: >
            The given member is not a member of this task's project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: unassignTask
      tags: [Tasks]
      summary: Unassign the task
      description: Clears the task's assignee. Idempotent — unassigning an already-unassigned task returns 200 unchanged.
      responses:
        '200':
          description: Updated task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /tasks/{taskId}/complete:
    parameters:
      - $ref: '#/components/parameters/TaskId'
    post:
      operationId: completeTask
      tags: [Tasks]
      summary: Mark the task done
      description: Idempotent — completing an already-done task returns 200 unchanged.
      responses:
        '200':
          description: Updated task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /tasks/{taskId}/reopen:
    parameters:
      - $ref: '#/components/parameters/TaskId'
    post:
      operationId: reopenTask
      tags: [Tasks]
      summary: Reopen a completed task
      description: >
        Moves a done task back to todo. Idempotent — reopening a task that is
        not done returns 200 unchanged (status is left as-is if it was
        in_progress, or set to todo if it was done).
      responses:
        '200':
          description: Updated task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /tasks/{taskId}/comments:
    parameters:
      - $ref: '#/components/parameters/TaskId'
    get:
      operationId: listComments
      tags: [Comments]
      summary: List comments on a task
      description: Returns the task's comment thread, paged, oldest first.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageCursor'
      responses:
        '200':
          description: Page of comments, oldest first
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createComment
      tags: [Comments]
      summary: Add a comment to a task
      description: Appends a comment to the task's thread, authored by the caller.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentCreateRequest'
      responses:
        '201':
          description: Comment created
          headers:
            Location:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /comments/{commentId}:
    parameters:
      - $ref: '#/components/parameters/CommentId'
    patch:
      operationId: updateComment
      tags: [Comments]
      summary: Edit a comment (author only)
      description: Replaces the comment body. Only the comment's author may call this; sets editedAt.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                body:
                  type: string
                  minLength: 1
                  maxLength: 10000
      responses:
        '200':
          description: Updated comment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteComment
      tags: [Comments]
      summary: Delete a comment (author only)
      description: Permanently deletes the comment. Only the comment's author may call this.
      responses:
        '204':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque token issued by the auth gateway

  parameters:
    ProjectId:
      name: projectId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    MemberId:
      name: memberId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    TaskId:
      name: taskId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    CommentId:
      name: commentId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    PageSize:
      name: pageSize
      in: query
      description: Max items per page. Default 25, max 100.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    PageCursor:
      name: pageCursor
      in: query
      description: Opaque cursor from a previous page's meta.nextCursor. Omit for the first page.
      schema:
        type: string

  responses:
    BadRequest:
      description: Malformed request or validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid auth token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Authenticated but not permitted to perform this action
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource does not exist or caller cannot see it
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Conflict:
      description: Request conflicts with current state of the resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    Error:
      type: object
      description: Uniform error envelope returned by every endpoint on failure.
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              description: Stable machine-readable error code, e.g. "validation_error", "not_found".
            message:
              type: string
              description: Human-readable explanation, safe to show to developers.
            details:
              type: array
              description: Optional field-level validation errors.
              items:
                type: object
                properties:
                  field:
                    type: string
                  message:
                    type: string

    PageMeta:
      type: object
      required: [nextCursor, hasMore]
      properties:
        nextCursor:
          type: string
          nullable: true
          description: Pass as pageCursor to fetch the next page. Null when hasMore is false.
        hasMore:
          type: boolean

    MemberRole:
      type: string
      enum: [owner, editor, viewer]

    TaskStatus:
      type: string
      enum: [todo, in_progress, done]

    TaskPriority:
      type: string
      enum: [low, normal, high, urgent]

    Project:
      type: object
      required: [id, name, description, color, archived, createdAt, updatedAt]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          minLength: 1
          maxLength: 200
        description:
          type: string
          nullable: true
          maxLength: 5000
        color:
          type: string
          description: Hex color, e.g. "#3B82F6".
          pattern: '^#[0-9A-Fa-f]{6}$'
        archived:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    ProjectCreateRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 200
        description:
          type: string
          maxLength: 5000
        color:
          type: string
          pattern: '^#[0-9A-Fa-f]{6}$'
          default: "#6B7280"

    ProjectUpdateRequest:
      type: object
      description: All fields optional; only provided fields are changed.
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 200
        description:
          type: string
          nullable: true
          maxLength: 5000
        color:
          type: string
          pattern: '^#[0-9A-Fa-f]{6}$'
        archived:
          type: boolean

    ProjectResponse:
      type: object
      required: [data]
      properties:
        data:
          $ref: '#/components/schemas/Project'

    ProjectListResponse:
      type: object
      required: [data, meta]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Project'
        meta:
          $ref: '#/components/schemas/PageMeta'

    Member:
      type: object
      required: [id, projectId, userId, email, role, createdAt]
      properties:
        id:
          type: string
          format: uuid
        projectId:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
          nullable: true
          description: Null until the invitee accepts and has an account.
        email:
          type: string
          format: email
        role:
          $ref: '#/components/schemas/MemberRole'
        createdAt:
          type: string
          format: date-time

    MemberInviteRequest:
      type: object
      required: [email, role]
      properties:
        email:
          type: string
          format: email
        role:
          $ref: '#/components/schemas/MemberRole'

    MemberRoleUpdateRequest:
      type: object
      required: [role]
      properties:
        role:
          $ref: '#/components/schemas/MemberRole'

    MemberResponse:
      type: object
      required: [data]
      properties:
        data:
          $ref: '#/components/schemas/Member'

    MemberListResponse:
      type: object
      required: [data, meta]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Member'
        meta:
          $ref: '#/components/schemas/PageMeta'

    Task:
      type: object
      required: [id, projectId, title, description, status, priority, dueDate, assigneeId, createdAt, updatedAt]
      properties:
        id:
          type: string
          format: uuid
        projectId:
          type: string
          format: uuid
        title:
          type: string
          minLength: 1
          maxLength: 300
        description:
          type: string
          nullable: true
          maxLength: 20000
        status:
          $ref: '#/components/schemas/TaskStatus'
        priority:
          $ref: '#/components/schemas/TaskPriority'
        dueDate:
          type: string
          format: date
          nullable: true
        assigneeId:
          type: string
          format: uuid
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    TaskCreateRequest:
      type: object
      required: [title]
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 300
        description:
          type: string
          maxLength: 20000
        priority:
          $ref: '#/components/schemas/TaskPriority'
          default: normal
        dueDate:
          type: string
          format: date
          nullable: true
        assigneeId:
          type: string
          format: uuid
          nullable: true
          description: Must be a member of this project.

    TaskUpdateRequest:
      type: object
      description: >
        All fields optional; only provided fields are changed. Does not
        accept assigneeId — use the assignee endpoints. Status may only be
        set to todo or in_progress here; use /complete and /reopen for the
        done transition so the API can apply the right side effects.
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 300
        description:
          type: string
          nullable: true
          maxLength: 20000
        priority:
          $ref: '#/components/schemas/TaskPriority'
        dueDate:
          type: string
          format: date
          nullable: true
        status:
          type: string
          enum: [todo, in_progress]

    TaskResponse:
      type: object
      required: [data]
      properties:
        data:
          $ref: '#/components/schemas/Task'

    TaskListResponse:
      type: object
      required: [data, meta]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Task'
        meta:
          $ref: '#/components/schemas/PageMeta'

    Comment:
      type: object
      required: [id, taskId, authorId, body, createdAt, updatedAt, editedAt]
      properties:
        id:
          type: string
          format: uuid
        taskId:
          type: string
          format: uuid
        authorId:
          type: string
          format: uuid
        body:
          type: string
          minLength: 1
          maxLength: 10000
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        editedAt:
          type: string
          format: date-time
          nullable: true

    CommentCreateRequest:
      type: object
      required: [body]
      properties:
        body:
          type: string
          minLength: 1
          maxLength: 10000

    CommentResponse:
      type: object
      required: [data]
      properties:
        data:
          $ref: '#/components/schemas/Comment'

    CommentListResponse:
      type: object
      required: [data, meta]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Comment'
        meta:
          $ref: '#/components/schemas/PageMeta'
