openapi: 3.1.0
info:
  title: RoomBoard Bookings API
  version: 3.0.0
  license:
    name: Apache 2.0
    identifier: Apache-2.0
  description: >
    Meeting-room booking API for RoomBoard tenants. Versioning: URL prefix
    (/v2). Conventions: snake_case properties, page-based pagination
    (`page` + `per_page`), RFC 9457 problem+json errors, UUID identifiers,
    RFC 3339 UTC timestamps. Authentication: bearer tokens on every endpoint.
    Consumed in production by the RoomBoard iOS app, the Android app, and
    11 third-party calendar integrations.


    **v3.0.0 note:** `GET /bookings` now requires `venue_id` — a breaking
    change to the request contract, shipped in-place rather than as a new
    URL prefix; see the accompanying change notes for the migration plan
    and rationale. `Booking.starts_at` was added as the new canonical
    timestamp field; `start_time` is deprecated but still present and still
    populated — that rename was shipped as a non-breaking, additive
    migration instead of a literal in-place rename.
  x-deprecations:
    - field: Booking.start_time (and BookingCreate/BookingUpdate.start_time)
      deprecated_in: 3.0.0
      replacement: starts_at
      removal: Not before a future major version, once third-party usage of start_time is confirmed at zero.
servers:
  - url: https://api.roomboard.dev/v2
security:
  - bearerAuth: []
tags:
  - name: bookings
    description: Booking operations.
paths:
  /bookings:
    get:
      operationId: listBookings
      tags: [bookings]
      summary: List bookings
      description: >
        **Breaking change in 3.0.0**: `venue_id` is now required. Previously
        omitting it returned bookings across every venue in the tenant;
        that behavior was a data-scoping bug (Support/Security), not a
        supported use case, so there is no non-breaking way to preserve it
        — see the change notes for the migration plan for the 11 existing
        third-party integrations.
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - name: venue_id
          in: query
          required: true
          description: >
            Scope the list to one venue. Required as of 3.0.0 — requests
            without it now get `400` instead of every venue's bookings.
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          required: false
          description: Filter by booking status.
          schema:
            type: string
            enum: [pending, confirmed, cancelled]
      responses:
        '200':
          description: A page of bookings for the given venue.
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Booking'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '400':
          description: >
            Malformed request — including a missing or malformed `venue_id`
            (see the 3.0.0 breaking-change note above).
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createBooking
      tags: [bookings]
      summary: Create a booking
      description: >
        Accepts either `starts_at` (preferred) or the deprecated
        `start_time` — at least one is required. If both are given they
        must be equal, or the request is `422`. New integrations should
        send `starts_at` only.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingCreate'
      responses:
        '201':
          description: Booking created.
          headers:
            Location:
              description: URL of the created booking.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /bookings/{bookingId}:
    parameters:
      - $ref: '#/components/parameters/BookingId'
    get:
      operationId: getBooking
      tags: [bookings]
      summary: Get a booking
      responses:
        '200':
          description: The booking.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateBooking
      tags: [bookings]
      summary: Update a booking (partial, JSON merge patch semantics)
      description: >
        Accepts either `starts_at` (preferred) or the deprecated
        `start_time`. If both are given in the same request they must be
        equal, or the request is `422`.
      requestBody:
        required: true
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/BookingUpdate'
      responses:
        '200':
          description: The updated booking.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      operationId: deleteBooking
      tags: [bookings]
      summary: Cancel and delete a booking
      responses:
        '204':
          description: Booking deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    Page:
      name: page
      in: query
      required: false
      description: 1-based page number.
      schema:
        type: integer
        minimum: 1
        default: 1
    PerPage:
      name: per_page
      in: query
      required: false
      description: Page size (1-100, default 25).
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    BookingId:
      name: bookingId
      in: path
      required: true
      description: Booking identifier.
      schema:
        type: string
        format: uuid
  responses:
    BadRequest:
      description: The request is malformed.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    Unauthorized:
      description: Authentication is missing or invalid.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    NotFound:
      description: The resource does not exist.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    Conflict:
      description: The booking conflicts with an existing booking.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    UnprocessableEntity:
      description: >
        The request is well-formed but semantically invalid — including
        `start_time` and `starts_at` both present but not equal.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
  schemas:
    Problem:
      type: object
      description: RFC 9457 problem details.
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
    Pagination:
      type: object
      required: [page, per_page, total]
      properties:
        page:
          type: integer
        per_page:
          type: integer
        total:
          type: integer
    Booking:
      type: object
      required: [id, venue_id, room_id, start_time, starts_at, end_time, status, created_at]
      properties:
        id:
          type: string
          format: uuid
        venue_id:
          type: string
          format: uuid
        room_id:
          type: string
          format: uuid
        organizer_email:
          type: string
          format: email
        start_time:
          type: string
          format: date-time
          deprecated: true
          description: >
            Deprecated as of 3.0.0 — use `starts_at`. Kept for backward
            compatibility with existing integrations; always equal to
            `starts_at`. Will not be removed before a future major version.
        starts_at:
          type: string
          format: date-time
          description: 'Booking start, UTC. The canonical field as of 3.0.0 — prefer this over the deprecated `start_time`.'
        end_time:
          type: string
          format: date-time
          description: >
            Booking end, UTC. Not renamed in this release (a separate,
            later change) — do not infer an `ends_at` field exists yet.
        status:
          type: string
          enum: [pending, confirmed, cancelled]
        notes:
          type: string
        created_at:
          type: string
          format: date-time
    BookingCreate:
      type: object
      required: [venue_id, room_id, end_time]
      anyOf:
        - required: [start_time]
        - required: [starts_at]
      properties:
        venue_id:
          type: string
          format: uuid
        room_id:
          type: string
          format: uuid
        organizer_email:
          type: string
          format: email
        start_time:
          type: string
          format: date-time
          deprecated: true
          description: 'Deprecated as of 3.0.0 — send `starts_at` instead. At least one of `start_time`/`starts_at` is required; if both are given they must be equal.'
        starts_at:
          type: string
          format: date-time
          description: 'Booking start, UTC. Preferred over the deprecated `start_time`. At least one of `start_time`/`starts_at` is required.'
        end_time:
          type: string
          format: date-time
        notes:
          type: string
    BookingUpdate:
      type: object
      properties:
        start_time:
          type: string
          format: date-time
          deprecated: true
          description: 'Deprecated as of 3.0.0 — send `starts_at` instead. If both are given in the same request they must be equal.'
        starts_at:
          type: string
          format: date-time
          description: 'Booking start, UTC. Preferred over the deprecated `start_time`.'
        end_time:
          type: string
          format: date-time
        status:
          type: string
          enum: [pending, confirmed, cancelled]
        notes:
          type: string
